[Unit]
Description=Stadtbau Wohnungssuche

[Service]
# systemd will run this executable to start the service
ExecStart=/srv/wohnungssuche/Wohnungssuche
# to query logs using journalctl, set a logical name here
SyslogIdentifier=Wohnungssuche

# Use your username to keep things simple.
# If you pick a different user, make sure dotnet and all permissions are set correctly to run the app
# To update permissions, use 'chown yourusername -R /srv/wohnungssuche' to take ownership of the folder and files,
#       Use 'chmod +x /srv/wohnungssuche/Wohnungssuche' to allow execution of the executable file
User=yourusername

# This environment variable is necessary when dotnet isn't loaded for the specified user.
# To figure out this value, run 'env | grep DOTNET_ROOT' when dotnet has been loaded into your shell.
Environment=DOTNET_ROOT=/usr/share/dotnet

Environment=SMTP_ADDRESS=youraddress
Environment=SMTP_SERVER=yourserver
Environment=SMTP_USERNAME=yourusername
Environment=SMTP_PASSWORD=yourpassword

[Install]
WantedBy=multi-user.target